/* Reset de estilos b치sicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body general */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Estilo para el header */
header {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/* Estilo de la secci칩n de contenido */
.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px 0;
}

.card p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 15px;
}

.card a {
    display: inline-block;
    text-decoration: none;
    background-color: #e67e22;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #d35400;
}

/* Estilo para el bot칩n de inicio de sesi칩n */
.login-container {
    text-align: center;
    margin-top: 30px;
}

.login-button {
    background-color: #2980b9;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #3498db;
}

/* Estilo del footer */
footer {
    font-size: 1rem;
    text-align: center;
    margin-top: 50px;
    color: #333;
}

footer a {
    color: #e67e22;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #d35400;
}
